@font-face {
    font-family: Inter;
    font-weight: 100 900;
    src: url("Inter-VariableFont_slnt,wght.ttf");
}

html, body {
    font-family: Inter;
    margin: 0;
    background-color: #F2F2F2;
    overflow: hidden;
    user-select: none;   
}

#title-find-nitkc {
    color: #10101020;
    font-style: italic;
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

#container {
    perspective: 1000px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* --camera-x: attr(data-camera-x px);
    --camera-y: attr(data-camera-y px);
    --camera-z: attr(data-camera-z px); */
    
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    transition-property: transform, opacity, filter;
    transition-delay: 0ms, 750ms, 750ms;
    transition-duration: 2000ms, 1000ms, 1000ms;
    transition-timing-function: cubic-bezier(0.2, 0, 0.25, 1);   
}

.map.focused {
    opacity: 1;
    /* filter: blur(0px); */
}

.map.unfocused {
    opacity: 0.05;
    /* filter: blur(5px); */
}